# Project Files #
#################
*.userprefs
*.pidb
*swp
bin
obj
WebGoat/App_Data/*.txt
WebGoat/Configuration/*.config

# Trash Files #
###############
.DS_Store
/UpgradeLog.htm
/.vs
/Backup
/packages
